h2 {
    text-align: left;
    font-weight: bold;
    padding-top: 0.5em;
    overflow: initial;
    white-space: initial;
}

ion-item-divider {
    padding-top: 1em;
    padding-bottom: 1em;
}

ion-card-title {
    color: ivory;
}
