<ion-header translucent no-border>
  <ion-toolbar>
    
    

    <!-- <ion-title>&nbsp;</ion-title> -->
    <ion-title>Profile</ion-title>
    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

  <!-- <div class="ion-padding">
    Testing
    <p>More testing</p>
  </div> -->

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../../assets/default-profile.png">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="username">{{user.email}}</h3>
        <h5 class="uid">{{user.uid}}</h5>
        <!-- <h6 class="social">{{user.email}}</h6> -->
        <!-- <h6 class="social">Friends: 16 | Requests: <ion-chip color="secondary"> -->
          <!-- <ion-label>2</ion-label>
          </ion-chip> -->
  
        <!-- </h6> -->
      </div>
      <ion-button expand="block" color="secondary">Search for User</ion-button>
    </div>
  </div>  

</ion-content>
