h2 {
    text-align: left;
    font-weight: bold;
    padding-top: 00.5em;
    overflow: initial;
    white-space: initial;
}

code {
    text-align: left;
    padding-top: 000.5em;
    overflow: initial;
    white-space: pre-line;
}