<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Username: </ion-label>
    <ion-input type="text" [(ngModel)]="user.username" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email: </ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password: </ion-label>
    <ion-input type="password" [(ngModel)]="user.pass" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Photo URL: </ion-label>
    <ion-input type="text" [(ngModel)]="user.photoURL"></ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" (click)="emailSignup(user.email, user.pass, user.username)">
    Signup
  </ion-button>

</ion-content>
